transformers
sentencepiece
scipy
matplotlib
wandb
numpy < 2.0.0
beautifulsoup4
sentence_transformers
tqdm
webdriver_manager
selenium
scikit-learn==1.5.2
scikit-learn-extra==0.3.0
pandas
setuptools
ipykernel